mixin media-card({parentClass = '', imgUrl, title, description, time, creationDate})
  article(class=`media-card ${parentClass}` data-creation-date=creationDate)
    .media-card__img 
      img(src=require(`/src/assets/images/${imgUrl}`), alt="img")
    .media-card__text 
      h2 #{title}
      p #{description}
      time(datetime=time) #{time}

