mixin post({parentClass = '', imgUrl, title, description, link, creationDate})
  article(class=`post ${parentClass}` data-creation-date=creationDate)
    .post__img
      img(src=require(`/src/assets/images/${imgUrl}`), alt="img")
    .post__text 
      h4 #{title}
      p #{description}
      a(href=link.url class='btn') #{link.title} 
