include ../../mixins/media-card/media-card

section.grid-section
  .container.grid-section__container
    - var grid = require('/src/static-data/grid.json')

    each item in grid.topItems
      div(
        class=`grid-section__item grid-section__item--col-${item.col} aspect-ratio-img`
        data-creation-date=item.creationDate
      )
        img(src=require(`/src/assets/images/${item.url}`), alt="img")

    +media-card({
      parentClass: 'grid-section__item',
      imgUrl: grid.middleItem.imgUrl,
      title: grid.middleItem.title,
      description: grid.middleItem.description,
      time: grid.middleItem.time,
      creationDate: grid.middleItem.creationDate
    })

    each item in grid.bottomItems
      div(
        class=`grid-section__item grid-section__item--col-${item.col} aspect-ratio-img`
        data-creation-date=item.creationDate
      )
        img(src=require(`/src/assets/images/${item.url}`), alt="img")
